proizvodi.dtd

<!ELEMENT Prodavnica (Proizvod+)>
<!ELEMENT Proizvod (KategorijaProizvoda, Cena, TekstProizvoda, Oznaka+, Akcija+)>
<!ELEMENT KategorijaProizvoda EMPTY>
<!ELEMENT Cena (#PCDATA)>
<!ELEMENT TekstProizvoda (#PCDATA)>
<!ELEMENT Oznaka (#PCDATA)>
<!ELEMENT Akcija EMPTY>
<!ATTLIST KategorijaProizvoda tip (Laptop|Monitor|Mis|Tastatura|Slusalice|Stolica) #REQUIRED>
<!ATTLIST Cena valuta CDATA #FIXED "rsd">
<!ATTLIST Akcija cena CDATA #IMPLIED>
<!ATTLIST Akcija datumIsteka CDATA #IMPLIED>
